{% extends 'blog/basic.html' %}
{% block title %} My Awesome Cart {% endblock %}
{% block css %}
<style>
    .thumbnail {
        width: 28rem;
        height: 100%;
    }

    .thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    .sidecont {
        height: 100%;
        width: 10rem;
    }

    .sidecont p {
        overflow-y: hidden;
    }

    .col-md-6 {
        width: 100%;
    }

    .postcard {
        height: 17rem;
    }
</style>
{% endblock %}


{% load static %}

{% block body %}
<!-- important one -->
<div class="container mt-3">
    <div class="row mb-2 my-2">
        {% for i in allPosts %}
        <div class="col-md-6">
            <div
                class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative postcard">
                <div class="col p-4 d-flex flex-column position-static sidecont">
                    <h3 class="mb-0">{{i.title}}</h3>
                    <div class="mb-1 text-muted">{{i.pub_date}}</div>
                    <p class="card-text mb-auto">{{i.chead0}}</p>
                    <a href="blogpost/{{i.post_id}}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block thumbnail">
                    <img src="/media/{{i.thumbnail}}" alt="thumbnail" class="">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- important one ends -->
{% endblock %}

{% block js %}
<script>
    document.getElementById('blog').className = "nav-link active";
</script>
{% endblock %}