{% extends 'shop/basic.html' %}

{% block title %}Contact Us - My Awesome Cart{% endblock %}
{% block body %}
<div id="alerts"></div>
<div class="container mt-5">
    <h1>Contact us for further queries</h1>
    <form action="/shop/contact/" method="post">
        {% csrf_token %}
        <div class="form-group mt-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
        </div>
        <div class="form-group mt-3">
            <label for="name" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>
        <div class="form-group mt-3">
            <label for="name" class="form-label">Phone</label>
            <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
        </div>
        <div class="form-group mt-3">
            <div class="form-group">
                <label for="desc" class="form-label">How may we help you?</label>
                <textarea class="form-control" id="desc" name="desc" rows="4"></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-success mt-3 btn-lg">Submit</button>
    </form>
</div>
{% endblock %}
{% block js %}
<script>
    document.getElementById('contact').className = "nav-link active";

    //{% if thank == 1 %}
    $("#alerts").prepend(`<div class="alert alert-success alert-dismissible fade show" role="alert"><span>Thanks for contacting us, we will reach back to you soon!</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>`);
    //{% endif %}
</script>
{% endblock %}