{% extends 'shop/basic.html' %}
{% block title %}Tracker - My Awesome Cart{% endblock %}
{% block body %}
<div class="container mb-5">
    <div class="col mt-5">
        <h2>Enter your Order Id and Email address to track your order</h2>
        <form class="row g-3 mt-2" method="post" action="#" id="trackerForm">
            {% csrf_token %}
            <div class="col-4">
                <label for="order_id" class="form-label">Order Id</label>
                <input type="text" class="form-control" id="order_id" name="order_id" placeholder="Numerical order id"
                    required>
            </div>
            <div class="col-4">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email used for ordering"
                    name="email" required>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Track Order</button>
            </div>
        </form>
    </div>
    <div class="col mt-5">
        <h2>Order status</h2>
        <div style="margin-top: 1.5rem;">
            <ul class="list-group" id="status">
            </ul>
        </div>
    </div>
    <div class="col mt-5">
        <h2>Order details</h2>
        <div style="margin-top: 1.5rem;">
            <ul class="list-group" id="details">
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    document.getElementById('tracker').className = "nav-link active";
    $('#trackerForm').submit(function (event) {
        $('#status').empty();
        var formData = {
            'order_id': $('input[name=order_id]').val(),
            'email': $('input[name=email]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
        };
        $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })
            .done(function (data) {
                data = JSON.parse(data);
                let updates = data[0];
                if (updates.length > 0 & updates != {}) {

                    for (i = 0; i < updates.length; i++) {
                        let text = updates[i]['text'];
                        let time = updates[i]['time'];
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">${text}${(i == 0) ? "🟢" : ""}</div>
                                </div>
                                <span class="badge text-bg-dark">${time}</span>
                                </li>`;
                        $('#status').append(mystr);
                    }
                }
                else {
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Sorry we could not find the order 😔</div>
                                </div>
                                </li>`;
                    $('#status').append(mystr);
                }
                // Fill in the order details
                cart = JSON.parse(data[1]);
                res = "";
                for (item in cart) {
                    let name = cart[item][1];
                    let qty = parseInt(cart[item][0]);
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">${name}</div>
                    </div>
                    <span class="badge text-bg-dark ms-1">x${qty}</span>
                </li>`;
                    res += mystr; 
            }
            $('#details').html(res);
            });
        event.preventDefault();
    });
</script>
{% endblock %}